<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
=======
<<<<<<< HEAD
    <%= csp_meta_tag %>
=======
>>>>>>> 1b77590ae614749d7275b5159d4e5fd30ba183da
>>>>>>> c968951eb07c78e3233f410a8e95d0f45b193cc5

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
